<h1> Form Details </h1>

<p>
  <strong>First Name:</strong>
  <%= @form.first_name %>
</p>
<p>
  <strong>Middle Name:</strong>
  <%= @form.middle_name %>
</p>
<p>
  <strong>Last Name:</strong>
  <%= @form.last_name %>
</p>
<p>
  <strong>Gender:</strong>
  <%= @form.gender%>
</p>
<p>
  <strong>Email:</strong>
  <%= @form.email %>
</p>

<p>
  <strong>Other Email:</strong>
  <%= @form.other_email%>
</p>
<p>
  <strong>Address1:</strong>
  <%= @form.address1%>
</p>
<p>
  <strong>Address2:</strong>
  <%= @form.address2 %>
</p>

<p>
  <strong>City:</strong>
  <%= @form.city %>
</p>
<p>
  <strong>State:</strong>
  <%= @form.state %>
</p>
<p>
  <strong>Country:</strong>
  <%= @form.country %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @form.zip %>
</p>
<p>
  <strong>Phone no:</strong>
  <%= @form.phone_no%>
</p>
<p>
  <strong>Cell no:</strong>
  <%= @form.cell_no %>
</p>

<p>
  <strong>Fax:</strong>
  <%= @form.fax %>
</p>

<p>
  <strong>Rank Id:</strong>
  <%= @form.rank_id %>
</p>
<p>
  <strong>Paid rank_id:</strong>
  <%= @form.paid_rank_id%>
</p>

<p>
  <strong>Preferred language:</strong>
  <%= @form.preferred_language %>
</p>

<p>
  <strong>Username:</strong>
  <%= @form.username %>
</p>

<p>
  <strong>Password:</strong>
  <%= @form.password%>
</p>

<p>
<strong> Confirm-Password: </strong>
<%= @form.password_confirmation %>
</p>


