<h1 align = "center"> Contact List </h1>
<table cellpadding = 5px>
   <tr>
     <th>First_Name</th>
     <th> Last_name</th>
     <th>Contact_Type</th>
     
     <th>City</th>
     <th>phone_number</th>
   
   </tr>

 <% @contacts.each do |f| %>
   <tr>
     <td><%= f.first_name%></td>
     <td><%= f.last_name%></td>
     <td><%= f.contact_type %></td>
     
     <td><%= f.city %></td>
     <td><%= f.phone_no %></td>
      <td><%= link_to 'Show', f %></td>
      <td><%= link_to 'Edit', edit_contact_path(f)%></td>

      <td><%= link_to 'Destroy', f, method: :delete, data: {confirm: 'Are you sure'} %></td>
   </tr>
 <% end %>
 <%= link_to 'Back', users_sh_path %>
</table>