<%= simple_form_for @contact do |c| %>

<h1 align = "center"> Contact Form </h1>
<%= c.error_notification %>

<%= c.input :first_name %>

<%= c.input :last_name %>

<%= c.input :contact_type, :collection => ['Select'], :prompt => 'Select the Contact Type' %>

<%= c.input :address1 %>
<%= c.input :address2 %>

<%= c.input :city, :collection => ['Visakhapatnam', 'kakinada','Rajasthan', 'Chennai', 'Hyderabad', 'Vijayawada'], :prompt => 'Select a City' %>

<%= c.input :state, :collection => ['AndhraPradesh', 'Telangana', 'Tamilnadu', 'Rajasthan', 'karnataka'], :prompt => 'Select a State' %>

<%= c.input :country, :collection => ['India', 'Brazil', 'Australia', 'England', 'Srilanka'] %>


<%= c.input :phone_no %>
<%= c.input :birthday %>


<%= c.button :submit, "Submit"  %>
<%= c.button :button, "Cancel", type: :reset %>

<% end %>